<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>All workouts</h1>

<% @workout.group_by{ |i| i.day }.sort_by{|key, w| key}.each do |date, daily_workouts| %>

  <h3><%= date %></h3>
  <table>
    <thead>
      <tr align="left">
        <th> Workout Name </th>
        <th>Set</th>
        <th>Rep(s)</th>
        <th>Weight (kg)</th>
      </tr>
    </thead>
    <% daily_workouts.each do |workout| %>
      <tr>
        <td><%= workout.name %></td>
        <td><%= workout.set %></td>
        <td><%= workout.rep %></td>
        <% if workout.weight %>
          <td><%= workout.weight %></td>
        <% else %>
          <td> n/a </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<%= render 'layouts/footer' %>
