<h1>Add new workout</h1>
<h2>Please enter your workout details:</h2>

<%= form_for(@workout) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :set %>
  <%= f.text_field :set %>

  <%= f.label :rep %>
  <%= f.text_field :rep %>

  <%= f.label :weight %> (optional)
  <%= f.text_field :weight %>

  <%= f.label :day %>
  <%= f.date_field :day %>

  <%= f.submit "Add workout" %>

<% end %>

<p><%= link_to 'Homepage', root_path %>