<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>Add new workout</h1>
<h2>Please enter your workout details:</h2>

<div class="row">
  <%= form_for(@workout) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="col-2">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'error' %>
    </div>

    <div class="col-2">
      <%= f.label :set %>
      <%= f.text_field :set, class: 'error' %>
    </div>

    <div class="col-2">
      <%= f.label :rep %>
      <%= f.text_field :rep, class: 'error' %>
    </div>

    <div class="col-2">
      <%= f.label :weight %> (optional)
      <%= f.text_field :weight, class: 'error' %>
    </div>

    <div class="col-2">
      <%= f.label :day %>
      <%= f.date_field :day, class: 'error' %>
    </div>


      <%= f.submit "Add workout", class: "sub-button" %>

  <% end %>
</div>

<%= render 'layouts/footer' %>